{% extends "base.html.twig" %}

{% block title %}
    TATO REDIRECT
{% endblock %}

{% block content %}
    <h2>{{ redirectMessage }}</h2>
    <p>You will be redirected shortly.</p>
    <small>{{ redirect }}</small>
{% endblock %}