{% extends "base.html.twig" %}

{% block title %}
    TATO PAGE {{ page.title }}
{% endblock %}

{% block content %}
    {% for block in blocks %}
        <p>{{ block.content }}</p>
    {% endfor %}
{% endblock %}