{% extends "base.html.twig" %}

{% block title %}
    TATO LOGIN
{% endblock %}

{% block content %}
    <h2>{{ error }}</h2>
    <form class="form-signin" action="/user/login" method="POST">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="text" id="inputEmail" class="form-control" placeholder="Email/Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input name="remember" type="checkbox" value="remember"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
    </form>
    <a class="btn btn-lg btn-primary btn-block" href="/user/register">Register</a>
{% endblock %}