{% if user %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="navbar-link" href="/user/dashboard">{{ user.display_name }}</a>
        </li>
        <li>
            <form class="navbar-form navbar-right" action="/user/logout" method="POST">
                <input type="hidden" name="redirect" value="{{ uri.path }}{% if uri.query %}?{{ uri.query }}{% endif %}">
                <button type="submit" class="btn btn-primary">Sign out</button>
            </form>
        </li>
    </ul>
{% else %}
{% include "users/navbarLogin.html.twig" %}
{% endif %}